body {
    margin: 0;
    background-color: rgb(32, 32, 32);
}

body, html {
    height: 100%;
}



img {
    height: auto;
    max-width: 100vw;
}

.bg {
    /* The image used */
    background-image: url("./sex.gif");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    display:inline-block;
    font-size: 40px;
    background-color: rgb(145, 145, 255);
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
}

.button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.button:hover {
    background-color: rgb(89, 59, 255);
}

.button a:hover {
    color: rgb(0, 0, 0);
}